/* Esta es una sección de comentarios */

/* Definir el tipo de letra y el tamaño por defecto */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
/* Definir el encabezado */
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

/* Definir los párrafos */
p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 0;
}

footer p,
footer ul,
footer h4 {
  margin: 0;
  padding: 0;
}

footer p {
  font-size: 14px;
}

footer ul {
  list-style: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: gray;
}

footer .list-inline-item {
  margin-right: 10px;
}

p {
  position: absolute;
  top: 50px;
  left: 50px;
}