
body{
    margin: 0px;
    padding: 0px;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
}

.cover{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px 20% ;
    box-sizing: border-box;
    
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(13, 100, 25);
    padding: 0 18px;
    box-sizing: border-box;
    position: fixed;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.content{
    text-align: center;
    font-size: 20px;
    color: white;
}

.content h1{
    font-size: 54px;
}
 .btn-primary{
    width: 240px;
    height: 48px;
    background-color: transparent;
    color: white;
    border: 1px dotted white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 24px;
 }

 .btn-secundary{
    width: 240px;
    height: 48px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px dotted rgb(0, 0, 0);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 24px;
 }

 .presentacion {
    text-align: center;
    margin: 100px auto;
    max-width: 400px;
  }
  
  .presentacion img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .presentacion h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .presentacion p {
    font-size: 18px;
    line-height: 1.5;
  }